*, *:after, *:before { vertical-align: top; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; -moz-osx-font-smoothing: subpixel-antialiased; -webkit-font-smoothing: subpixel-antialiased; -moz-font-smoothing: subpixel-antialiased; -ms-font-smoothing: subpixel-antialiased; -o-font-smoothing: subpixel-antialiased; }

html { font-size: 13px; }

body { position: relative; display: inline-block; width: 100%; margin: 0; padding: 0; color: #5a5a5a; font-family: 'Roboto', sans-serif, "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif; }

header { display: inline-block; width: 100%; height: 45px; background-color: #4497ff; padding: 0 15px; }
header .title_boxs { display: inline-block; width: calc(100% - 20px * 2); }

.box_ds { display: inline-block; }

.box_ds100 { display: inline-block; width: 100%; }

.box_ds40 { display: inline-block; width: 40%; }

.box30, .box70, .box25, .box75, .box90, .box10, .box50 { display: inline-block; float: left; }

.box10 { width: 10%; }
.box10.in_use { background-color: transparent; font-size: 1.6rem; color: #eeeeee; }

.box50 { width: 50%; }

.box90 { width: 90%; }

.box30 { width: 30%; }

.box70 { width: 70%; }

.box25 { width: 25%; }

.box75 { width: 75%; }

.boxs_pos50 { display: inline-block; width: 50%; height: 3.5rem; position: relative; }

.boxs { display: inline-block; width: 100%; position: relative; }
.boxs img { display: inline-block; width: 100%; }
.boxs.boxs50 { width: 50%; }
.boxs .logo_box { position: absolute; top: 0; left: 0; display: inline-block; width: 100%; height: 420px; }
@media screen and (max-width: 449px) and (min-width: 0) { .boxs .logo_box { height: 210px; } }
.boxs .logo_box img { display: inline-block; width: 100%; }
.boxs.borderT3 { border-top: 3px solid #eeeeee; }

.gr_box { display: inline-block; width: 100%; background-color: #eeeeee; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; *zoom: 1; }
.gr_box:after { display: table; content: ""; line-height: 0; clear: both; }
.gr_box .info_boxs { display: inline-block; width: calc(100% / 3); float: left; border-right: 1px solid #c6c6c6; }
.gr_box .info_boxs.info_boxs2 { width: calc(100% / 2); }
.gr_box .info_boxs:last-child { border-right: 0; }
.gr_box.wr_box { background-color: transparent; }

.buttombox { display: inline-block; width: 100%; }
.buttombox .ba { display: inline-block; cursor: pointer; width: calc(100% / 2 - 3px * 2 / 2); height: 3rem; background-color: rgba(238, 238, 238, 0.5); font-size: 1.2rem; text-align: center; line-height: 3rem; color: rgba(138, 138, 138, 0.8); float: left; }
.buttombox .ba:first-child { margin-left: 0; margin-right: 3px; }
.buttombox .ba:last-child { margin-left: 3px; margin-right: 0; }
.buttombox .ba.ba3 { width: calc(100% / 3 - 5px * 2 / 3); }
.buttombox .ba.ba3:first-child, .buttombox .ba.ba3:last-child { margin-left: 0; margin-right: 0; }
.buttombox .ba.ba3:nth-child(2) { margin: 0 5px; }
.buttombox .ba:hover, .buttombox .ba.h { color: #4497ff; border-bottom: 3px solid #4497ff; }

.centbox { display: inline-block; width: 100%; }
.centbox .partnersbox { display: inline-block; width: 100%; display: none; }
.centbox .partnersbox.partnershow { display: inline-block; }
.centbox .partnersbox .pal { display: inline-block; width: 100%; padding: 15px; border-bottom: 1px solid #eeeeee; }
.centbox .partnersbox .pal.pal_noborder { border: 0; }
.centbox .partnersbox .pal.pal_nos { padding: 0; }
.centbox .partnersbox .pal.order_pal { margin-top: 10px; border-bottom: 0; background-color: rgba(238, 238, 238, 0.5); padding: 0; }

.order_pal_box { display: inline-block; width: 100%; padding: 15px; border-bottom: 1px solid rgba(138, 138, 138, 0.3); }
.order_pal_box.order_no_b { border-bottom: 0; }

.ce_box { display: inline-block; width: 100%; background-color: rgba(238, 238, 238, 0.5); -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; padding: 10px; }
.ce_box.ce_box_w { background-color: white; margin-bottom: 3px; }

.se_boxs { display: inline-block; width: 100%; background-color: #eeeeee; }
.se_boxs.no_bg { background-color: transparent; padding: 10px 0; }
.se_boxs .se_box { display: inline-block; width: 100%; border: 0; outline: 0; background-color: #eeeeee; font-size: 1.2rem; color: #636363; }
.se_boxs .se_box.no_bg2 { background-color: transparent; }

.list_boxs { display: inline-block; width: 100%; border-bottom: 1px solid #eeeeee; padding: 10px 15px; }
.list_boxs:last-child { border-bottom: 0; }

.qr_box { display: inline-block; width: 100%; border: 1px solid #eeeeee; padding: 45px; }
.qr_box.qr_noboard { border: 0; }

.modal { display: none; position: fixed; z-index: 999; padding: 20% 20% 0 20%; left: 0; top: 0; width: 100%; height: 100vh; overflow: auto; background-color: rgba(33, 33, 33, 0.8); }
@media screen and (max-width: 449px) and (min-width: 0) { .modal { padding: 20% 10% 0 10%; } }
.modal .modal_boxs { display: inline-block; width: 100%; max-width: 800px; background-color: white; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; *zoom: 1; }
.modal .modal_boxs:after { display: table; content: ""; line-height: 0; clear: both; }

.pw_boxs { display: inline-block; width: 100%; padding: 15px; border-bottom: 1px solid #eeeeee; }

.more_box { display: block; width: 100%; height: 60px; transition: height 0.35s ease; overflow: hidden; }
