@charset "UTF-8";
*, *:after, *:before { vertical-align: top; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; -moz-osx-font-smoothing: subpixel-antialiased; -webkit-font-smoothing: subpixel-antialiased; -moz-font-smoothing: subpixel-antialiased; -ms-font-smoothing: subpixel-antialiased; -o-font-smoothing: subpixel-antialiased; }

p { margin: 0; padding: 0; }

input { display: inline-block; outline: 0; border: 0; width: 100%; }
input::placeholder { color: rgba(138, 138, 138, 0.5); }

.pw_title { display: inline-block; width: 100%; padding: 10px 15px; font-size: 1.6rem; color: #4497ff; text-align: center; border-bottom: 1px solid #4497ff; }

.serch_input { display: inline-block; width: calc(100% - 10px); font-size: 1.2rem; line-height: 2.7rem; color: #636363; border: 1px solid #eeeeee; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; margin-right: 10px; padding: 0 5px; }
.serch_input::placeholder { color: rgba(138, 138, 138, 0.5); }

.color_option { color: rgba(138, 138, 138, 0.5) !important; }

.text_cent { text-align: center; }

.text_r { text-align: right; }

.lH25 { line-height: 25px !important; }

.text10_G { font-size: .8rem; color: rgba(138, 138, 138, 0.9); }

.icon_qu { display: inline-block; font-size: 1.3rem; margin-left: 10px; color: #f1bf4d; margin-top: -1px; }

.text13_lG { font-size: 1rem; color: #eeeeee; }

.text13_G { font-size: 1rem; color: rgba(138, 138, 138, 0.9); }
.text13_G.b_G13:before { color: rgba(138, 138, 138, 0.9); }
.text13_G:before { display: inline-block; content: attr(title); color: red; margin-right: 5px; }

.text13_G_date { font-size: 1rem; color: rgba(138, 138, 138, 0.9); line-height: 2.7rem; }
.text13_G_date:before { display: inline-block; content: attr(title); color: rgba(138, 138, 138, 0.9); margin-right: 5px; }

.text13_b { font-size: 1rem; color: #4497ff; }

.text14_G { font-size: 1.1rem; color: #636363; }

.text14_mG { font-size: 1rem; color: #636363; }

.text14_dG { font-size: 1.1rem; color: #222222; }

.text14_R { font-size: 1.1rem; color: red; }
.text14_R:before { display: inline-block; content: attr(title); margin-right: 5px; }

.text14_b { font-size: 1.1rem; color: #4497ff; line-height: 1.3rem; }
.text14_b:before { display: inline-block; content: '獲得點數'; margin-right: 5px; font-size: .8rem; color: rgba(138, 138, 138, 0.9); }
.text14_b:after { display: inline-block; content: '點'; margin-left: 5px; font-size: 1.1rem; color: #636363; }

.qua14_dG { font-size: 1.1rem; color: #222222; margin-right: 10px; }
.qua14_dG:before { display: inline-block; content: attr(title); margin-right: 5px; }

.text16_w { font-size: 1.2rem; color: white; }

.text16_mG { font-size: 1.2rem; color: #636363; }

.text16_b { font-size: 1.2rem; color: #4497ff; }

.text16_mG_title { font-size: 1.2rem; color: #636363; line-height: 32px; }
.text16_mG_title.title_blue16 { color: #4497ff; }
.text16_mG_title.no_lh32 { line-height: normal; }
.text16_mG_title:before { display: inline-block; content: attr(title); }

.text16_lG_title { font-size: 1.2rem; color: rgba(138, 138, 138, 0.9); line-height: 32px; }
.text16_lG_title:before { display: inline-block; content: attr(title); }

.text16_dG { font-size: 1.2rem; color: #222222; }

.text18_dG { font-size: 1.5rem; color: #222222; }

.text18_w { font-size: 1.5rem; color: white; }

.bold_text18_b { font-size: 1.5rem; color: #4497ff; font-weight: 600; }

.bold_text24_b { font-size: 2rem; color: #4497ff; font-weight: 500; position: relative; padding-left: 25px; }
.bold_text24_b:before { display: inline-block; content: attr(title); font-size: .8rem; color: #4497ff; margin-right: 5px; position: absolute; bottom: 3px; left: 0; }

.point_type { display: inline-block; float: right; color: #4497ff; font-weight: 500; font-size: 1.4rem; }
.point_type:after { display: inline-block; content: attr(title); font-size: .8rem; font-weight: 500; color: #636363; margin-left: 5px; }
.point_type.point_mark_add:before { display: inline-block; content: '+'; margin-right: 5px; }
.point_type.point_mark_de:before { display: inline-block; content: '-'; margin-right: 5px; }
