@import "Ginkgo";

$color_chief: rgba(68, 151, 255, 1.00); // 主要色調・亮藍色 b
$color_money: rgba(255, 0, 0, 1.00); // 價格顯示・紅色 r
$color_gray: rgba(238, 238, 238, 1.00); // 背景顏色・淺灰色 lG
$color_text: rgba(34, 34, 34, 1.00); // 文字顯示・深灰色 dG
$color_text2: rgba(99, 99, 99, 1.00); // 文字顯示・中灰色 mG
$color_text3: rgba(138, 138, 138, 1.00);  // 文字顯示・灰色 G


a {
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
}

button {
  display: inline-block;
  cursor: pointer;
  outline: 0;
  border: 0;
}

.a100 {
  width: 100%;
}

.btn_blue {
  display: inline-block;
  padding: 8px 0;
  color: white;
  font-size: 1.1rem;
  @include border-radius(4px);
  background-color: $color_chief;

  &.btn_gray {
    background-color: $color_text3;
  }
}

.info_type {
  display: inline-block;
  width: 100%;
  color: $color_chief;
  font-weight: 500;
  font-size: 1.4rem;

  &.info_icon {
    font-size: 2rem
  }

  &:after {
    display: inline-block;
    content: attr(title);
    width: 100%;
    color: $color_text2;
    padding-top: 3px;
    font-size: .8rem;
    font-weight: 400;
  }
}

.link_type01 {
  display: inline-block;
  width: 100%;
  font-size: 1.1rem;
  color: $color_text;
  @include transition(all .3s);

  &:hover, &:active {
    color: $color_chief;
  }
}

.order_money {
  color: $color_money;
  font-size: 1.3rem;
  font-weight: 900;
  position: absolute;
  right: 0;
  bottom: 0;
  @include transition(all .3s);

  &:before {
    display: inline-block;
    content: attr(title);
    color: $color_money;
    font-size: 1.3rem;
    font-weight: 900;
    margin-right: 5px;
  }

  &:after {
    display: inline-block;
    content: '\e906';
    font-family: icon;
    font-size: 1.5rem;
    color: $color_text2;
    margin-left: 5px;
  }
}

.more_icon {
  display: inline-block;
  padding: 3px;
  @include border-radius(2px);
  border: 1px solid $color_gray;
  background-color: white;

  &:before {
    display: inline-block;
    content: '\e904';
    font-family: icon;
    font-size: 1.4rem;
    color: $color_text3;
    text-align: center;
  }
}

.more_icon_u {
  display: inline-block;
  padding: 3px;
  @include border-radius(2px);
  border: 1px solid $color_gray;
  background-color: white;

  &:before {
    display: inline-block;
    content: '\e907';
    font-family: icon;
    font-size: 1.4rem;
    color: $color_text3;
    text-align: center;
  }
}








