@import "Ginkgo";

.box_cent {
  margin: 0 auto;
}


.l_height45 {
  line-height: 45px;
}

.order_left {
  float: left;
}

.order_right {
  float: right;
}

.pTD15 {
  padding: 15px 0;
}

.pLR15 {
  padding: 0 15px;
}

.p15 {
  padding: 15px 15px;
}

.pT10 {
  padding-top: 10px;
}