@import "Ginkgo";

.no_before {
  &:before {
    display: none;
  }
}

.box_cent {
  margin: 0 auto;
}

.l_height35 {
  line-height: 2.5rem;
}

.l_height45 {
  line-height: 3.5rem;
}

.order_left {
  float: left;
}

.order_right {
  float: right;
}

.pTD15 {
  padding: 15px 0;
}

.pTD10 {
  padding: 10px 0;
}

.pLR15 {
  padding: 0 15px;
}

.pL20 {
  padding-left: 20px;
}

.p15 {
  padding: 15px;
}

.pT10 {
  padding-top: 10px;
}

.pT5 {
  padding-top: 5px;
}

.pD10 {
  padding-bottom: 10px;
}

.pD15 {
  padding-bottom: 15px;
}

.pT30 {
  padding-top: 30px;
}

.pT20 {
  padding-top: 20px;
}

.pTRL15 {
  padding: 15px 15px 0 15px !important;
}

.pTR1510 {
  padding: 10px 15px;
}

.mT10 {
  margin-top: 10px;
}

.mTD10 {
  margin: 10px 0;
}

.mTD20 {
  margin: 20px 0;
}

.mL_d5 {
  margin-left: -5px;
}










