@import "Ginkgo";

$color_chief: rgba(68, 151, 255, 1.00); // 主要色調・亮藍色 b
$color_money: rgba(255, 0, 0, 1.00); // 價格顯示・紅色 r
$color_gray: rgba(238, 238, 238, 1.00); // 背景顏色・淺灰色 lG
$color_text: rgba(34, 34, 34, 1.00); // 文字顯示・深灰色 dG
$color_text2: rgba(99, 99, 99, 1.00); // 文字顯示・中灰色 mG
$color_text3: rgba(138, 138, 138, .9);  // 文字顯示・灰色 G

p {
  margin: 0;
  padding: 0;
}

input {
  display: inline-block;
  outline: 0;
  border: 0;
  width: 100%;

  &::placeholder {
    color: rgba(138, 138, 138, .5);
  }
}

.serch_input {
  display: inline-block;
  width: calc(100% - 10px);
  font-size: 1.2rem;
  line-height: 2.7rem;
  color: $color_text2;
  border: 1px solid $color_gray;
  @include border-radius(3px);
  margin-right: 10px;
  padding: 0 5px;

  &::placeholder {
    color: rgba(138, 138, 138, .5);
  }
}

.color_option {
  color: rgba(138, 138, 138, .5) !important;
}

.text_cent {
  text-align: center;
}

.text_r {
  text-align: right;
}

.lH25 {
  line-height: 25px !important;
}


.text10_G {
  font-size: .8rem;
  color: $color_text3;
}

.icon_qu {
  display: inline-block;
  font-size: 1.3rem;
  margin-left:10px;
  color:rgba(241, 191, 77, 1.00);
  margin-top: -1px;
}


.text13_lG {
  font-size: 1rem;
  color: $color_gray;
}
.text13_G {
  font-size: 1rem;
  color: $color_text3;

  &.b_G13 {
    &:before {
      color: $color_text3;
    }
  }

  &:before {
    display: inline-block;
    content: attr(title);
    color: $color_money;
    margin-right: 5px;
  }
}
.text13_G_date {
  font-size: 1rem;
  color: $color_text3;
  line-height: 2.7rem;

  &:before {
    display: inline-block;
    content: attr(title);
    color: $color_text3;
    margin-right: 5px;
  }
}



.text14_G {
  font-size: 1.1rem;
  color: $color_text2;
}

.text14_mG {
  font-size: 1rem;
  color: $color_text2;
}

.text14_dG {
  font-size: 1.1rem;
  color: $color_text;
}

.text14_R {
  font-size: 1.1rem;
  color: $color_money;

  &:before {
    display: inline-block;
    content: attr(title);
    margin-right: 5px;
  }
}

.qua14_dG {
  font-size: 1.1rem;
  color: $color_text;
  margin-right: 10px;

  &:before {
    display: inline-block;
    content: attr(title);
    margin-right: 5px;
  }
}


.text16_w {
  font-size: 1.2rem;
  color: white;
}

.text16_mG {
  font-size: 1.2rem;
  color: $color_text2;
}

.text16_mG_title {
  font-size: 1.2rem;
  color: $color_text2;
  line-height: 32px;

  &.title_blue16 {
    color: $color_chief;
  }

  &.no_lh32 {
    line-height: normal;
  }

  &:before {
    display: inline-block;
    content: attr(title);
  }
}

.text16_lG_title {
  font-size: 1.2rem;
  color: $color_text3;
  line-height: 32px;

  &:before {
    display: inline-block;
    content: attr(title);
  }
}

.text16_dG {
  font-size: 1.2rem;
  color: $color_text;
}


.text18_dG {
  font-size: 1.5rem;
  color: $color_text;
}

.text18_w {
  font-size: 1.5rem;
  color: white;
}

.bold_text18_b {
  font-size: 1.5rem;
  color: $color_chief;
  font-weight: 600;
}



.bold_text24_b {
  font-size: 2rem;
  color: $color_chief;
  font-weight: 500;
  position: relative;
  padding-left: 25px;

  &:before {
    display: inline-block;
    content: attr(title);
    font-size: .8rem;
    color: $color_chief;
    margin-right: 5px;
    position: absolute;
    bottom: 3px;
    left: 0;
  }
}

.point_type {
  display: inline-block;
  float: right;
  color: $color_chief;
  font-weight: 500;
  font-size: 1.4rem;

  &:after {
    display: inline-block;
    content: attr(title);
    font-size: .8rem;
    font-weight: 500;
    color: $color_text2;
    margin-left: 5px;
  }

  &.point_mark_add {
    &:before {
      display: inline-block;
      content: '+';
      margin-right: 5px;
    }
  }

  &.point_mark_de {
    &:before {
      display: inline-block;
      content: '-';
      margin-right: 5px;
    }
  }
}









